In [12]:
#read ghanor file on ../../DataEng/datalake/silver/ghanor.csv
import pandas as pd

df = pd.read_csv('../../DataEng/datalake/silver/ghanor.csv', sep=',')
df.head()

   raisedAmount  supporters            timestamp
0     4731772.0        4495  2023-10-08 21:07:04
1     4847103.0        4650  2023-10-08 22:24:04
2     4830483.0        4630  2023-10-08 22:19:03
3     4724127.0        4484  2023-10-08 20:56:04
4     3687262.0        3336  2023-10-07 18:03:04

In [13]:
# analyze the data only from the last day column timestamp


#transform column timestamp to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])
last_day = df['timestamp'].max().date()

last_day

#group data from last day

df_last_day = df[df['timestamp'].dt.date == last_day]
df_last_day.head()

    raisedAmount  supporters           timestamp
12     5066113.0        4920 2023-10-09 09:11:06
15     5072500.0        4930 2023-10-09 10:25:05
16     5046627.0        4887 2023-10-09 00:22:03
17     5108944.0        4988 2023-10-09 17:08:05
21     5054102.0        4902 2023-10-09 06:23:04