In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../DataEng/datalake/silver/data.csv')
df

       targetAmount  raisedAmount  supporters  targetDate
0          500000.0     5148832.0        5032  2023-11-10
1          500000.0     5872819.0        5543  2023-11-10
2          500000.0     5812795.0        5484  2023-11-10
3          500000.0     5773540.0        5439  2023-11-10
4          500000.0     5962171.0        5630  2023-11-10
...             ...           ...         ...         ...
13356      500000.0     5783415.0        5449  2023-11-10
13357      500000.0     5926796.0        5600  2023-11-10
13358      500000.0     5657079.0        5304  2023-11-10
13359      500000.0     5870311.0        5540  2023-11-10
13360      500000.0     5856278.0        5526  2023-11-10

[13361 rows x 4 columns]

In [3]:
#order by raisedAmount
df.sort_values(by=['raisedAmount'], inplace=True, ascending=False)

In [4]:
df

       targetAmount  raisedAmount  supporters  targetDate
5329       500000.0     6029112.0        5686  2023-11-10
11815      500000.0     6029112.0        5686  2023-11-10
11020      500000.0     6029112.0        5686  2023-11-10
13210      500000.0     6029112.0        5686  2023-11-10
3850       500000.0     6029112.0        5686  2023-11-10
...             ...           ...         ...         ...
3532       500000.0     3511114.0        3152  2023-11-10
9458       500000.0     3510664.0        3151  2023-11-10
259        500000.0     3510405.0        3151  2023-11-10
7940       500000.0     3509466.0        3149  2023-11-10
4070       500000.0     3000000.0        3000  2023-11-10

[13361 rows x 4 columns]